<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div th:fragment="footer">
      &copy; 2016 Footer
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
		<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
		<script src="../static/js/bootstrap-datepicker.min.js" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
		<script src="../static/js/site.js" th:src="@{/js/site.js}"></script>
    </div>
  </body>
</html>