/* css for initiate.html */

/* Tab Navigation */
.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;    
}
.nav-tabs > li > a {
    background: #DADADA;
    border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    backgroundXX: #F5F5F5;
    background: #F8FBFD;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

/* Tab Content */
.tab-pane {
    backgroundXX: #F5F5F5;
    background: #F8FBFD;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    text-align: center;
    padding: 5px;
}

.srv-recipient-name {
	background-color: #FFF1CE;
	border: 1px solid #FED86F;
	text-align: left;
	padding-top: 0.5em;
	min-height: 2em;
	margin-bottom: 0.3em;
}

.contract-term-months {
	width: 4em;
}

.contract-term-months-read-only {
	text-align: left;
	padding-top: 0.5em;
}

.patient-count {
}

.patient-count-read-only {
	text-align: left;
	padding-top: 0.5em;
}

.base-system-row {
	padding-left: 1.0rem;
	padding-right: 1.0rem;
	margin-left: 0.0rem;
	margin-right: 0.0rem;
	
}

.base-system-name {
	background-color: white;
	border: 1px solid silver;
	text-align: left;
	padding-left: 1em;
	padding-top: 0.4em;
	height: 2em;
	margin-top: 0.0em;
	margin-bottom: 0.5em;
}

.associated-service {
	background-color: #E2F0DA
}

.additional-service {
	background-color: #FAE5D7
}

.unit-text {
	text-align: left;
	padding-top: 0.8em;
}

.unit-numbers {
	text-align: right;
	padding-left: 0.3rem;
	padding-top: 0.4em;
}

.associated-service-panel {
	margin-top: 1.0rem;
	background-colorXX: transparent;
	background-color: #FBFFFA;
	padding-left: 0.0rem;
	padding-right: 0.0rem;
}

.addit-associated-service-panel {
	margin-top: 1.2rem;
	margin-bottom: 1.5rem;
	background-colorXX: transparent;
	background-color: #FBFFFA;
	padding-left: 0.0rem;
	padding-right: 0.0rem;
}

.additional-service-panel {
	margin-top: 1.0rem;
	background-colorXX: transparent;
	background-color: #FFFAFA;
	padding-left: 0.0rem;
	padding-right: 0.0rem;
}

.service-header {
	margin-top: -1.8rem;
	positionXX: relative;
	topXX: -1.8rem;
	left: 0.0rem;
	float: left;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	text-align: left;	
	border: 1px solid silver;
	display: inline;
}

.associated-service-header {
	background-color: #FBFFFA;
}

.additional-service-header {
	background-color: #FFFAFA;
}

.associated-service-row {
	margin-top: 0.0rem;
	positionXX: relative;
	topXX: -1.8rem;
	padding-left: 0.0rem;
	padding-right: 0.0rem;
	margin-left: 0.0rem;
	margin-right: 0.0rem;
}

.additional-service-row {
	margin-top: -1.5rem;
	positionXX: relative;
	topXX: -1.4rem;
	padding-left: 0.0rem;
	padding-right: 0.0rem;
	margin-left: 0.0rem;
	margin-right: 0.0rem;
}

.addit-associated-service-row {
	margin-top: 0.0rem;
	positionXX: relative;
	topXX: -1.8rem;
	padding-left: 0.0rem;
	padding-right: 0.0rem;
	margin-left: 0.0rem;
	margin-right: 0.0rem;
}

.money-value {
	text-align: right;
	padding-top: 0.8rem;
}

.inner-money-value {
	text-align: right;
	padding-top: 0.8rem;
	padding-right: 0.0rem;
}


.nopadding {
	padding-left: 0px;
	padding-right: 0px;
}
