<!DOCTYPE html>
<html th:replace="~{fragments/defaultLayout :: layout(~{::title}, ~{::section}, ~{::script}, ~{::link})}">
<head>
    <meta charset="UTF-8" />
    <title>Dataload of GP Practice Legacy Systems from GPSoC Marketshare XSLX file</title>
</head>
<body>
<section>
    <div class="container">
<!--     
        <ol class="breadcrumb">
            <li><a href="#" th:href="${'/widgets'}">Home</a></li>
        </ol>
-->        
        <div class="row"><h2>Dataload of GP Practice Legacy Systems from GPSoC Marketshare XSLX file</h2></div>
        <form class="form-horizontal" th:action="@{/dataload/Day0LegacySystemsExcelPost}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-sm-12">Please select the GPSoC Marketshare XSLX file someone has emailed to you which defines the current GP Practice Systems and their suppliers</label>
            </div>
            
            <div class="form-group">
               <label class="col-sm-12 control-label"><input type="file" name="file" style="width:100%;"/></label>
             </div>
             
            <div class="form-group">
                <div class="col-sm-12">
            		<button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
            <pre>
To obtain the input file  
 
Someone emails GPSoC Marketshare XSLX file to you
 
            </pre>
        </form>
    </div>
</section>
</body>
</html>