<!DOCTYPE html>
<html th:replace="~{fragments/defaultLayout :: layout(~{::title}, ~{::main}, ~{::script}, ~{::link})}">
<head>
<meta charset="UTF-8">
<title>Buying from the NHS Store</title>

</head>
<body>
<section>
<div class="container">
	<main id="content">
	<div id="onboarding" class="dashboard page">
	<header class="page-main-heading">
		<h1>Buying from the NHS Store.</h1>
	</header>
	<ol class="onboarding-stages">
		<li style="height:6em;">
			<h3>
			<a class="title" href="/buyingprocess/capabilitiesOrSitesMenu" th:href="@{'/buyingprocess/capabilitiesOrSitesMenu'}">
				Identify needs and who you are buying for
			</a>
			</h3>	
			<!-- <p class="action">
				Status: Not started. <a href="register#content">Start</a>
			</p>  -->
			<p class="narrative">
				Identify needs and tell us who you are
				buying for to find appropriate Solutions by selecting Capabilities
				and sites.
			</p>
		</li>
		<li style="height:6em;">
			<h3 class="title">Create short list</h3>
			<p class="narrative">
				MORE RESEARCH NEEDED
			</p>
		</li>
		<li style="height:6em;">
			<h3 class="title">Evaluate short list and select Solution</h3>
			<p class="narrative">
				MORE RESEARCH NEEDED
			</p>
		</li>
		<li class="unavailable" style="height:6em;">
			<h3 class="title">Build contract</h3>
			<p class="narrative">
				Send a Contract request to the Supplier. If your request is accepted,
				you can review, share and sign the Contract. 
			</p>
		</li>
	</ol>
	</div>
	</main>
</div>
</section>
</body>
</html>