<!DOCTYPE html>
<html th:replace="~{fragments/defaultLayout :: layout(~{::title}, ~{::section}, ~{::script}, ~{::link})}">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../../static/css/pages/initiate.css" th:href="@{/css/pages/initiate.css}">
    <title>Initiate Buying</title>
</head>
<body>
<section>
    <div class="container">
		<h3>Initiate Buying</h3>	

		
        <form class="form-horizontal" th:object="${initiateModel}" th:action="@{/buyingprocess/initiate}" method="post">
            <input type="hidden" th:field="*{procurementId}" />
            <input type="hidden" th:field="*{numberOfPractices}" />
            <input type="hidden" th:field="*{directAwardBundleId}" />

			<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
			    <p th:each="err : ${#fields.detailedErrors()}" th:text="${err.global}? ${err.message} : ${err.fieldName + ': ' + err.message}"></p>    
			</div>

			<ul class="nav nav-tabs" role="tablist">
				<li th:each="bundle, info : ${initiateModel.bundles}" th:class="${info.count==1?'active':''}">
				<a th:href="${'#b_' + bundle.id}" role="tab" data-toggle="tab" th:text="${bundle.getName()}"></a>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div th:each="bundle, infoBundle : ${initiateModel.bundles}" th:class="${'tab-pane ' + (infoBundle.count==1?'active':'')}" th:id="${'b_' + bundle.id}">
					<div class="row">
						<label class="col-md-11"></label>
						<label class="col-md-1 nopadding">Over Term</label>
					</div>
					<div th:each="srvRecipient, infoSR : ${initiateModel.srvRecipients}" class="row">

						<!-- Service Recipient Name -->

						<div th:text="${srvRecipient.organisation.nameProperCase}" class="col-md-3 srv-recipient-name" ></div>

						<!-- Contract Term Months : 1st solution is input, others are read-only -->

		                <label class="col-md-1 control-label">Term</label>
						<div th:if="${infoBundle.index==0}" th:class="${#fields.hasErrors('contractTermMonths')}? 'col-md-2 has-error' : 'col-md-2'">
							<div class="input-group">
							    <select class="form-control contract-term-months" th:field="*{contractTermMonths[__${infoSR.index}__]}">
							    <option value="">Months</option>
							    <option th:each="month : ${initiateModel.possibleContractTermMonths}" th:value="${month}" th:text="${month + ' month' + (month==1?'':'s')}"></option>
							    </select>
				                <span th:if="${#fields.hasErrors('contractTermMonths')}" class="help-block">[[${#fields.errors('contractTermMonths')[0]}]]</span>
				            </div>
			            </div>
			            
						<div th:if="${infoBundle.index!=0}" class="col-md-2 contract-term-months-read-only" th:id="${'contractTermMonthsRO_' + infoBundle.index + '_' + infoSR.index}"
							th:text="${initiateModel.contractTermMonths[__${infoSR.index}__] + ' month' + (initiateModel.contractTermMonths[__${infoSR.index}__]==1?'':'s')}">
						</div>

						<!-- Patient : 1st solution is input, others are read-only -->

		                <label class="col-md-2 control-label">Patient Count</label>
						<div th:if="${infoBundle.index==0}" th:class="${#fields.hasErrors('patientCount')}? 'col-md-1 has-error' : 'col-md-2'">
							<div class="input-group">
							    <input class="form-control patient-count" th:field="*{patientCount[__${infoSR.index}__]}" size="6">
				                <span th:if="${#fields.hasErrors('patientCount')}" class="help-block">[[${#fields.errors('patientCount')[0]}]]</span>
				            </div>
			            </div>
			            
						<div th:if="${infoBundle.index!=0}" class="col-md-1 patient-count-read-only" th:id="${'patientCountRO_' + infoBundle.index + '_' + infoSR.index}"
							th:text="${initiateModel.patientCount[__${infoSR.index}__]}">
						</div>
						
						
						
						
						
						
						
					</div>
				</div>
			</div>

			<br /><br />        
			<div class="panel panel-default">
				<div class="panel-heading">Additional Configuration</div>
				<div class="panel-body">
					<div class="row">
		                <div class="col-md-3" style="text-align: right;">Number of practices:</div>
						<div class="col-md-3" th:text="${initiateModel.numberOfPractices}"></div>
						
		                <label class="col-md-3 control-label">Number of patients:</label>
						<div th:class="${#fields.hasErrors('numberOfPatients')}? 'col-md-3 has-error' : 'col-md-3'">
			            	<input type="text" th:field="*{numberOfPatients}" class="form-control" placeholder="number of patients" autocomplete="off" />
			                <span th:if="${#fields.hasErrors('numberOfPatients')}" class="help-block">[[${#fields.errors('numberOfPatients')[0]}]]</span>
			            </div>
					</div>
					<div class="row">
		                <label class="col-md-3 control-label">Planned Contract Start:</label>
						<div th:class="${#fields.hasErrors('plannedContractStart')}? 'col-md-3 has-error' : 'col-md-3'">
							<div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
				            	<input type="text" th:field="*{plannedContractStart}" class="form-control" placeholder="contract start date" autocomplete="off" />
				            	<div class="input-group-addon">
	        						<span class="glyphicon glyphicon-th"></span>
	    						</div>
				                <span th:if="${#fields.hasErrors('plannedContractStart')}" class="help-block">[[${#fields.errors('plannedContractStart')[0]}]]</span>
				            </div>
			            </div>
					</div>
				</div>
				<div class="panel-footer">
					<button id="btnRecalculate" class="btn btn-default" style="display:noneX;" type="button" onclick="forms[0].submit();">Recalculate Prices</button>
				</div>
			
			</div>
		</form>
	</div>
</section>

<script th:inline="javascript">

// Default the Term value from the 1st Service Recipient into the Term for the other Service Recipients (if they don't already contain a value)
$("form").on("change", ":input[id='contractTermMonths0']", function(event) {
	$(".contract-term-months").each( function() {
		if (this.id != 'contractTermMonths0' && $(this).val() == "") {
			$(this).val(event.target.value).trigger('change');
		}
	});
});

//Sets the r/o Term in the 2nd and subsequent tabs to the value from the 1st tab
$("form").on("change", ":input.contract-term-months", function(event) {
	var sMonths = event.target.value + " months";
	if (event.target.value == "1") {
		sMonths = event.target.value + " months";
	} else if (event.target.value == "") {
		sMonths = "";
	}
	var idxSR = parseInt(event.target.id.split("contractTermMonths")[1]);
	for (var idxBundle=1; idxBundle<$("div.tab-pane").length; idxBundle++) {
		$("#contractTermMonthsRO_" + idxBundle + "_" + idxSR).text(sMonths);
	}
});

//Sets the r/o Patient Count in the 2nd and subsequent tabs to the value from the 1st tab
$("form").on("change", ":input.patient-count", function(event) {
	var idxSR = parseInt(event.target.id.split("patientCount")[1]);
	for (var idxBundle=1; idxBundle<$("div.tab-pane").length; idxBundle++) {
		$("#patientCountRO_" + idxBundle + "_" + idxSR).text(event.target.value);
	}
});

$( document ).ready(function() {

});

</script>
</body>
</html>