<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/defaultLayout :: layout(~{::title}, ~{::main}, ~{::script})}">
<head>
<meta charset="UTF-8">
<title>Price Declaration</title>
<script src="/static/js/buying-process/price-declaration.js" th:src="@{/js/buying-process/price-declaration.js}"></script>
</head>
<body>
	<main id="content">
		<h1>Price Declaration</h1>
		<form action="" th:action="@{/buyingprocess/price-declaration}" method="POST">
<!-- 			<input type="hidden" th:field="*{id}"> -->
<!-- 			<ul class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}"> -->
<!--   				<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li> -->
<!-- 			</ul> -->
			<div class="form-group">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<ul class="flex-option-container" id="choices">
							<li>
								<div class="title">Price</div>
								<div class="body">
									Basing your procurement on price only will choose the lowest priced solution
								</div>
								<div class="select">
<!-- 										<input type="radio" id="price" name="option" value="price"> -->
<!-- 										<label for="price" class="btn button">Select</label> -->
									<button type="button" class="btn button" id="" value="">Select</button>
								</div>
							</li>
							<li>
								<div class="title">Price &amp; Quality</div>
								<div class="body">
									If you base your procurement on price and quality, you need to provide your evaluation
									criteria and ratings that you will be comparing solutions against
								</div>
								<div class="select" >
<!-- 										<input type="radio" id="price-quality" name="option" value="price & quality"> -->
<!-- 										<label for="price-quality" class="btn button">Select</label> -->
									<button type="button" class="btn button" id="" value="">Select</button>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn button">Select and Continue</button>
			</div>
			<div class="form-group">
				<a class="back-link" href="#" th:href="@{#}"></a>	
			</div>			
		</form>
	</main>
</body>
</html>