<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/defaultLayout :: layout(~{::title}, ~{::main}, ~{::script})}">
<head>
<meta charset="UTF-8">
<title>Price Declaration</title>
<script src="/static/js/buying-process/price-declaration.js" th:src="@{/js/buying-process/price-declaration.js}"></script>
</head>
<body>
	<main id="content">
		<h1>Price Declaration</h1>
		<form action="" th:action="@{/buyingprocess/price-declaration}" th:object="${procurement}" method="POST">
				<input type="hidden" th:with="field='evaluationType'" th:attr="id=${field},name=${field}" th:value="*{__${field}__} != null ? *{__${field}__.id} : ''" />
<!--/*
			<ul class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}">
  				<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
			</ul>
*/-->
			<div class="form-group">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<ul class="flex-option-container" id="select-evaluation-type">
							<li th:each="type : ${T(uk.nhs.gpitf.purchasing.entities.EvaluationTypeEnum).values()}" th:id="|evaluation-type-item-${type.id}|">
								<div class="title" th:text="${type.name}"></div>
								<div class="body" th:text="#{evaluation-type.description[__${type.id}__]}"></div>
								<div class="select">
									<button type="button" class="btn button" th:value="${type.id}">Select</button>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn button" id="continue" disabled>Select and Continue</button>
			</div>
			<div class="form-group">
				<a class="back-link" href="#" th:href="@{#}"></a>	
			</div>			
		</form>
	</main>
</body>
</html>