<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/defaultLayout :: layout(~{::title}, ~{::main}, ~{::script})}">
<head>
<meta charset="UTF-8">
<title>My Procurements</title>
</head>
<body>
	<main th:with="hasProcurements=(${not #lists.isEmpty(procurements)})">
		<h1 th:if="${hasProcurements}" th:text="|Welcome Back, ${session.SecurityInfo.forename}|">Welcome Back</h1>
	 	<h1 th:if="${not hasProcurements}" th:text="|Hello, ${session.SecurityInfo.forename}|">Hello</h1>
		<p>Which Procurement do you want to go to?</p>
		<div class="form-group" th:if="${hasProcurements}">
			<a class="btn button" href="" th:href="@{/buyingprocess/{procurementId}/gotoProcurement(procurementId=${procurements[0].id})}">Continue with last</a>
		</div>
		<div class="form-group">
			<a class="btn button" href="/buyingprocess" th:href="@{/buyingprocess}">Start new</a>
		</div>
		<div class="form-group">
			<a href="/buyingprocess/listProcurements" th:href="@{/buyingprocess/listProcurements}">View all Procurements</a>
		</div>	
	</main>
</body>
</html>