<!DOCTYPE html>
<html th:replace="~{fragments/defaultLayout :: layout(~{::title}, ~{::section}, ~{::script})}">
<head>
    <meta charset="UTF-8" />
    <title>Capability Search Results</title>
</head>
<body>
<section>
    <div class="container-large">
        <div class="row">
        	<h2>Capability Search Results
        	<span th:if="${myModel.procurement != null}" style="font-size:75%;"><br />(Procurement: [[${myModel.procurement.name}]])</span>
        	</h2>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
            	<div class="row">
	                <div class="col-md-1">
	                </div>
	                <div class="col-md-10"><div class="mx-auto"><h3>Search Results</h3></div>
	                </div>
	                <div class="col-md-1">
	                </div>
                </div>
            	<div class="row">
	                <div class="col-md-4" style="border:solid 0px;">
			            <div th:each="cap : ${myModel.allCapabilities}" class="form-groupX">		                
		               		<input class="col-md-1" type="checkbox" name="filterCapabilities" th:value="${cap.id}" th:id="${'filterCapabilities_' + cap.id}" 
		               		th:checked="${myModel.inInitialCapabilities(cap.id)}"
		               		/>
							<label class="col-md-11" th:text="${cap.name}" th:for="${'filterCapabilities_' + cap.id}" >Capability 1</label>		                
			            </div>
	                </div>
	                <div class="col-md-8" style="border:solid 0px" id="foundSolutions">
	                </div>
	        	</div>
            </div>
        </form>
    </div>
</section>    

<script>
    $("form").on("click", ":checkbox[name='filterCapabilities']", function(event){
		//alert(event.target.id.split(event.target.name+'_')[1] + " clicked ; selected: " + event.target.checked);
		var selectedCapabilities = "";
		$("input[name=" + event.target.name + "]:checked").each( function () {
			selectedCapabilities += "," + this.id.split(event.target.name+'_')[1].trim();
		});
		//alert("selectedCapabilities: " + selectedCapabilities);
		$("#foundSolutions").empty();
		if (selectedCapabilities.length > 0) {
			selectedCapabilities = selectedCapabilities.substring(1);
			updateProcurementWithCapabilities([[${myModel.procurementId}]], selectedCapabilities)
			searchCapabilitiesForSolutions(selectedCapabilities);
		}
	});

    function updateProcurementWithCapabilities(procurementId, csvCapabilities) {
		var url = "[[${T(uk.nhs.gpitf.purchasing.controllers.search.SolutionByCapabilityController).ENDPOINT_UPDATE_PROCUREMENT_WITH_CAPABILITIES}]]" + procurementId + '/' + csvCapabilities;
		$.getJSON( url)
		.done(function( data ) {
		});
   	}
    
    function searchCapabilitiesForSolutions(csvCapabilities) {
		//console.log(csvCapabilities);
		var url = "[[${T(uk.nhs.gpitf.purchasing.endpoints.OnboardingController).ENDPOINT_SOLUTIONS_BY_RANK_WITH_CAPABILITIES_IN_LIST}]]" + csvCapabilities;
		$.getJSON( url)
		.done(function( data ) {
			//console.log(data);

			var htmlTable = $("<table class=\"table table-striped\">");
			var htmlHead = $("<thead>");
			htmlHead.appendTo(htmlTable);
			var htmlHeaderRow = $("<tr><th scope=\"col\">Rank</th><th scope=\"col\">Solution</th><th scope=\"col\">Description</th></tr>");
			htmlHeaderRow.appendTo(htmlHead);
			var htmlBody = $("<tbody>");
			htmlBody.appendTo(htmlTable);
			$.each( data, function( i, item ) {
				var htmlRow = $("<tr><td scope=\"row\">" + (item.rank+1) + "</td><td>" + item.solution.name + "</td><td>" + item.solution.description + "</td></tr>");
				htmlRow.appendTo(htmlBody);
			});
			htmlTable.appendTo("#foundSolutions");
		});
   	}
    
    $( document ).ready(function() {
       var csvCapabilities = '[[${myModel.csvCapabilities}]]';

    	searchCapabilitiesForSolutions(csvCapabilities);
    });
    
</script>
</body>
</html>