<!DOCTYPE html>
<html th:replace="~{fragments/defaultLayout :: layout(~{::title}, ~{::section}, ~{::script})}">
<head>
    <meta charset="UTF-8" />
    <title>Capability Search Results</title>
</head>
<body>
<section>
    <div class="container">
 	<div class="panel panel-default">
 	
		<div th:if="${myModel.procurement != null}" class="panel-heading" style="background-color: white;">
			<div class="row">
				<div class="col-md-10">
					<h3>1A. Who you're buying for
			        </h3>	
		        </div>
		        <div class="col-md-2"><br />
			        <a onclick="showCapabilityPanel(false);" href="#">Add answer</a>
		        </div>
		    </div>
			<div class="row">
		        <div id="selectedPractices" class="col-md-12 capability-section-header-sub-text">Add sites to reveal baseline pricing and Interoperability percentage in search results
	        	</div>
	        </div>
		</div>
	
		<div th:if="${myModel.procurement != null}" class="panel-heading" style="background-color: white;">
			<div class="row">
				<div class="col-md-10">
					<h3>1B. Capabilities selected
			        </h3>	
			    </div>
		        <div class="col-md-2"><br />
        			<a onclick="showCapabilityPanel(true);" href="#">Add answer</a>
        		</div>
        	</div>
			<div class="row">
				<div id="selectedCapabilityNames" class="col-md-12 capability-section-header-sub-text">
				</div>
        	</div>
		</div>
		
		<div id="practicePanel" class="panel-body" style="background-color: #f0f4f5;">
    
	        <div class="row">
	        	<h2>My Sites
	        	<span th:if="${myModel.procurement != null}" style="font-size:75%;"><br />(Procurement: [[${myModel.procurement.name}]])</span>
	        	</h2>
	        	<h4>Select sites to add them to your Procurement basket.</h4>
	        </div>
		
			<div class="panel-group" id="accordion">
			  <div th:each="ccg, iter : ${myModel.myCCGs}" class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" 
			        href="#collapse1" th:href="'#ccg-' + ${ccg.id}"
			        th:text="${ccg.name}">CCG Name</a>
			      </h4>
			    </div>
			    <div id="collapse1" th:id="'ccg-' + ${ccg.id}" class="panel-collapse collapse in"
			    	th:class="'panel-collapse collapse ' + ${iter.index==0?'in':''}">
			    	<div th:id="'practices-' + ${ccg.id}" class="panel-body">Practice List.</div>
  					</div>    
			    </div>
			</div>
		</div>
		
		<div id="capabilityPanel" class="panel-body" style="background-color: #f0f4f5;">
    
        <div class="row">
        	<h2>Capability Search Results
        	<span th:if="${myModel.procurement != null}" style="font-size:75%;"><br />(Procurement: [[${myModel.procurement.name}]])</span>
        	</h2>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
            	<div class="row">
	                <div class="col-md-1">
	                </div>
	                <div class="col-md-10"><div class="mx-auto"><h3>Search Results</h3></div>
	                </div>
	                <div class="col-md-1">
	                </div>
                </div>
            	<div class="row">
	                <div class="col-md-4" style="border:solid 0px;">
			            <div th:each="cap : ${myModel.allCapabilities}" class="form-groupX">		                
		               		<input class="col-md-1" type="checkbox" name="filterCapabilities" th:value="${cap.id}" th:id="${'filterCapabilities_' + cap.id}" 
		               		th:checked="${myModel.inInitialCapabilities(cap.id)}"
		               		/>
							<label class="col-md-11" th:text="${cap.name}" th:for="${'filterCapabilities_' + cap.id}" >Capability 1</label>		                
			            </div>
	                </div>
	                <div class="col-md-8" style="border:solid 0px" id="foundSolutions">
	                </div>
	        	</div>
            </div>
        </form>
    	</div>
    </div>
</section>    

<script>
    $("form").on("click", ":checkbox[name='filterCapabilities']", function(event){
		//alert(event.target.id.split(event.target.name+'_')[1] + " clicked ; selected: " + event.target.checked);
		var selectedCapabilities = "";
		var selectedCapabilityNames = "";
		$("input[name=" + event.target.name + "]:checked").each( function () {
			selectedCapabilities += "," + this.id.split(event.target.name+'_')[1].trim();
		});
		//alert("selectedCapabilities: " + selectedCapabilities);

		refreshCapabilityNames();
		$("#foundSolutions").empty();
		if (selectedCapabilities.length > 0) {
			selectedCapabilities = selectedCapabilities.substring(1);
			updateProcurementWithCapabilities([[${myModel.procurementId}]], selectedCapabilities)
			searchCapabilitiesForSolutions(selectedCapabilities);
		}
	});

    function refreshCapabilityNames() {
		var selectedCapabilityNames = "";
		$("input[name=filterCapabilities]:checked").each( function () {
			selectedCapabilityNames += ", " + $(this).siblings().first().text().trim();
		});
		if (selectedCapabilityNames.length > 0) {
			selectedCapabilityNames = selectedCapabilityNames.substring(2);
		}
		if ($("#selectedCapabilityNames") != null) {
			$("#selectedCapabilityNames").text(selectedCapabilityNames);
		}
    	
    }
    
    function showCapabilityPanel(show) {
    	if (show) {
    		$("#capabilityPanel").show();
    		$("#practicePanel").hide();
    	} else {
    		$("#capabilityPanel").hide();
    		$("#practicePanel").show();
    	}
    }
    
    function updateProcurementWithCapabilities(procurementId, csvCapabilities) {
		var url = "[[${T(uk.nhs.gpitf.purchasing.controllers.search.SolutionByCapabilityController).ENDPOINT_UPDATE_PROCUREMENT_WITH_CAPABILITIES}]]" + procurementId + '/' + csvCapabilities;
		$.getJSON( url)
		.done(function( data ) {
		});
   	}
    
    function searchCapabilitiesForSolutions(csvCapabilities) {
		//console.log(csvCapabilities);
		var url = "[[${T(uk.nhs.gpitf.purchasing.endpoints.OnboardingController).ENDPOINT_SOLUTIONS_BY_RANK_WITH_CAPABILITIES_IN_LIST}]]" + csvCapabilities;
		$.getJSON( url)
		.done(function( data ) {
			//console.log(data);

			var htmlTable = $("<table class=\"table table-striped\">");
			var htmlHead = $("<thead>");
			htmlHead.appendTo(htmlTable);
			var htmlHeaderRow = $("<tr><th scope=\"col\">Rank</th><th scope=\"col\">Solution</th><th scope=\"col\">Description</th></tr>");
			htmlHeaderRow.appendTo(htmlHead);
			var htmlBody = $("<tbody>");
			htmlBody.appendTo(htmlTable);
			$.each( data, function( i, item ) {
				var htmlRow = $("<tr><td scope=\"row\">" + (item.rank+1) + "</td><td>" + item.solution.name + "</td><td>" + item.solution.description + "</td></tr>");
				htmlRow.appendTo(htmlBody);
			});
			htmlTable.appendTo("#foundSolutions");
		});
   	}
    
    function getPracticesForCCG(ccgId) {
		//console.log(csvCapabilities);
		$("#practices-" + ccgId).empty();
		var url = "/organisationData/" + ccgId + "/" + [[${T(uk.nhs.gpitf.purchasing.entities.OrgType).PRESCRIBING_PRACTICE}]];
		$.getJSON( url)
		.done(function( data ) {
			//console.log(data);

			var htmlTable = $("<table class=\"table table-striped\">");
			var htmlHead = $("<thead>");
			htmlHead.appendTo(htmlTable);
			var htmlHeaderRow = $("<tr><th scope=\"col\">Sel</th><th scope=\"col\">Site</th><th scope=\"col\">ODS</th><th scope=\"col\">Patients</th></tr>");
			htmlHeaderRow.appendTo(htmlHead);
			var htmlBody = $("<tbody>");
			htmlBody.appendTo(htmlTable);
			$.each( data, function( i, item ) {
				var htmlRow = $("<tr><td scope=\"row\"><input type=\"checkbox\" name=\"selOrg\" value=\"" + item.id + "\" onclick=\"addRemovePractice(this, '" + item.orgCode + "', " + item.patientCount + ")\" /></td><td>" + item.nameProperCase + "</td><td>" + item.orgCode + "</td><td>" + item.patientCount + "</td></tr>");
				htmlRow.appendTo(htmlBody);
			});
			htmlTable.appendTo("#practices-" + ccgId);
		});
   	}
    
    function addRemovePractice(element, orgCode, patientCount) {
    	selectedPractices += element.checked?1:-1;
       	selectedPracticePatients += (element.checked?1:-1) * patientCount;
    	if (element.checked) {
           	selectedPracticeIds += element.value + ",";
    	} else {
    		selectedPracticeIds = selectedPracticeIds.replace("," + element.value + ",", ",");
    	}
    	refreshSelectedPractices();
    }
    
    function refreshSelectedPractices() {
		if ($("#selectedPractices") != null) {
			$("#selectedPractices").text("Selected practices: " + selectedPractices + ", patients: " + selectedPracticePatients + ", practice Ids: " + selectedPracticeIds.substring(1, Math.max(selectedPracticeIds.length-2, 1)));
		}
    	
    }
    
    // On document ready, perform a capability search
   	var selectedPractices = 0;
   	var selectedPracticeIds = ",";
   	var selectedPracticePatients = 0;
    $( document ).ready(function() {
       	var csvCapabilities = '[[${myModel.csvCapabilities}]]';
       	var arrMyCsvIDs = '[[${myModel.myCsvCCGIDs}]]'.split(",");
       	for (var idx=0; idx<arrMyCsvIDs.length; idx++) {
			$('#ccg-' + arrMyCsvIDs[idx]).on('hidden.bs.collapse', function () {
				$("#practices-" + this.id.split("-")[1]).empty();
			});    	   
			$('#ccg-' + arrMyCsvIDs[idx]).on('show.bs.collapse', function () {
				getPracticesForCCG(this.id.split("-")[1]);
			});    	   
		}
       	getPracticesForCCG(arrMyCsvIDs[0]);       

       	showCapabilityPanel(true);
       	refreshCapabilityNames();
       	searchCapabilitiesForSolutions(csvCapabilities);
    });
    
    
    
</script>
</body>
</html>