<!DOCTYPE html>
<html th:replace="~{fragments/defaultLayout :: layout(~{::title}, ~{::section}, ~{::script})}">
<head>
    <meta charset="UTF-8" />
    <title>Capability Search Results</title>
</head>
<body>
<section>
    <div class="container">
 	<div class="panel panel-default">
 	
		<div th:if="${myModel.procurement != null}" class="panel-heading" style="background-color: white;">
			<div class="row">
				<div class="col-md-10">
					<h3>1A. Who you're buying for
			        </h3>	
		        </div>
		        <div class="col-md-2"><br />
			        <a onclick="showCapabilityPanel(false);" href="#">Add answer</a>
		        </div>
		    </div>
			<div class="row">
		        <div id="selectedPractices" class="col-md-12 capability-section-header-sub-text">Add sites to reveal baseline pricing and Interoperability percentage in search results
	        	</div>
	        </div>
		</div>
	
		<div th:if="${myModel.procurement != null}" class="panel-heading" style="background-color: white;">
			<div class="row">
				<div class="col-md-10">
					<h3>1B. Capabilities selected
			        </h3>	
			    </div>
		        <div class="col-md-2"><br />
        			<a onclick="showCapabilityPanel(true);" href="#">Add answer</a>
        		</div>
        	</div>
			<div class="row">
				<div id="selectedCapabilityNames" class="col-md-12 capability-section-header-sub-text">
				</div>
        	</div>
		</div>
		
		<div id="practicePanel" class="panel-body" style="background-color: #f0f4f5;">
    
	        <div class="row">
	        	<h2>My Sites
	        	<span th:if="${myModel.procurement != null}" style="font-size:75%;"><br />(Procurement: [[${myModel.procurement.name}]])</span>
	        	</h2>
	        	<h4>Select sites to add them to your Procurement basket.</h4>
	        </div>
		
			<div class="panel-group" id="accordion">
				<div th:each="ccg, iter : ${myModel.myCCGs}" class="panel panel-default">
			    	<div class="panel-heading">
			    	 	<div class="row">
							<div class="col-md-10">
			      				<h4 class="panel-title">
			        				<a data-toggle="collapse" data-parent="#accordion" 
				        				href="#collapse1" th:href="'#ccg-' + ${ccg.id}"
				        				th:text="${ccg.name}">CCG Name</a>
			      				</h4>
			      			</div>
				        	<div id="selectedCCGPractices-xxx" th:id="'selectedCCGPractices-' + ${ccg.id}"
				        		class="col-md-2 capability-section-header-sub-text">
			        		</div>
			      		</div>
			    	</div>
			    	<div id="collapse1" th:id="'ccg-' + ${ccg.id}" class="panel-collapse collapse in"
			    		th:class="'panel-collapse collapse ' + ${iter.index==0?'in':''}">
			    		<div th:id="'practices-' + ${ccg.id}" class="panel-body">Practice List.</div>
  					</div>    
				</div>
			</div>
		</div>
		
		<div id="capabilityPanel" class="panel-body" style="background-color: #f0f4f5;">
    
        <div class="row">
        	<h2>Capability Search Results
        	<span th:if="${myModel.procurement != null}" style="font-size:75%;"><br />(Procurement: [[${myModel.procurement.name}]])</span>
        	</h2>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
            	<div class="row">
	                <div class="col-md-1">
	                </div>
	                <div class="col-md-10"><div class="mx-auto"><h3>Search Results</h3></div>
	                </div>
	                <div class="col-md-1">
	                </div>
                </div>
            	<div class="row">
	                <div class="col-md-4" style="border:solid 0px;">
			            <div th:each="cap : ${myModel.allCapabilities}" class="form-groupX">		                
		               		<input class="col-md-1" type="checkbox" name="filterCapabilities" th:value="${cap.id}" th:id="${'filterCapabilities_' + cap.id}" 
		               		th:checked="${myModel.inInitialCapabilities(cap.id)}"
		               		/>
							<label class="col-md-11" th:text="${cap.name}" th:for="${'filterCapabilities_' + cap.id}" >Capability 1</label>		                
			            </div>
	                </div>
	                <div class="col-md-8" style="border:solid 0px" id="foundSolutions">
	                </div>
	        	</div>
            </div>
        </form>
    	</div>
    </div>
</section>    

<script th:inline="javascript">
    $("form").on("click", ":checkbox[name='filterCapabilities']", function(event){
		//alert(event.target.id.split(event.target.name+'_')[1] + " clicked ; selected: " + event.target.checked);
		var selectedCapabilities = "";
		var selectedCapabilityNames = "";
		$("input[name=" + event.target.name + "]:checked").each( function () {
			selectedCapabilities += "," + this.id.split(event.target.name+'_')[1].trim();
		});
		//alert("selectedCapabilities: " + selectedCapabilities);

		refreshCapabilityNames();
		$("#foundSolutions").empty();
		if (selectedCapabilities.length > 0) {
			selectedCapabilities = selectedCapabilities.substring(1);
			updateProcurementWithCapabilitiesPOST([[${myModel.procurementId}]], selectedCapabilities)
			searchCapabilitiesForSolutions(selectedCapabilities);
		}
	});

    function refreshCapabilityNames() {
		var selectedCapabilityNames = "";
		$("input[name=filterCapabilities]:checked").each( function () {
			selectedCapabilityNames += ", " + $(this).siblings().first().text().trim();
		});
		if (selectedCapabilityNames.length > 0) {
			selectedCapabilityNames = selectedCapabilityNames.substring(2);
		}
		if ($("#selectedCapabilityNames") != null) {
			$("#selectedCapabilityNames").text(selectedCapabilityNames);
		}
    	
    }
    
    function showCapabilityPanel(show) {
    	if (show) {
    		$("#capabilityPanel").show();
    		$("#practicePanel").hide();
    	} else {
    		$("#capabilityPanel").hide();
    		$("#practicePanel").show();
    	}
    }
    
    function updateProcurementWithCapabilitiesPOST(procurementId, csvCapabilities) {
    	var token = $("meta[name='_csrf']").attr("content");
    	var header = $("meta[name='_csrf_header']").attr("content");

		var url = [[${T(uk.nhs.gpitf.purchasing.endpoints.ProcurementController).ENDPOINT_UPDATE_PROCUREMENT_WITH_CAPABILITIES}]];
		var sendInfo = {
			"procurementId"	: procurementId,
			"csvCapabilities" : csvCapabilities
		};
		$.ajax({
		    type: 'POST',
		    beforeSend: function(request) {
		        request.setRequestHeader(header, token);
		    },
		    url: url,
		    data: JSON.stringify (sendInfo),
		    //success: function(data) { alert('data: ' + data); },
		    contentType: "application/json",
		    dataType: 'json'
		})
		.fail(function(error) {
			console.error(error);
        })
		;
	}
    
    function updateProcurementWithPracticesPOST(procurementId) {
    	var token = $("meta[name='_csrf']").attr("content");
    	var header = $("meta[name='_csrf_header']").attr("content");

		var url = [[${T(uk.nhs.gpitf.purchasing.endpoints.ProcurementController).ENDPOINT_UPDATE_PROCUREMENT_WITH_PRACTICES}]];
		var sendInfo = {
			"procurementId"	: procurementId,
			"csvPractices" : selectedPracticeIds
		};
		$.ajax({
		    type: 'POST',
		    beforeSend: function(request) {
		        request.setRequestHeader(header, token);
		    },
		    url: url,
		    data: JSON.stringify (sendInfo),
		    //success: function(data) { alert('data: ' + data); },
		    contentType: "application/json",
		    dataType: 'json'
		})
		.fail(function(error) {
			console.error(error);
        })
		;
	}
    
    function searchCapabilitiesForSolutions(csvCapabilities) {
		//console.log(csvCapabilities);
		var url = [[${T(uk.nhs.gpitf.purchasing.endpoints.OnboardingController).ENDPOINT_SOLUTIONS_BY_RANK_WITH_CAPABILITIES_IN_LIST}]] + csvCapabilities;
		$.getJSON( url)
		.done(function( data ) {
			//console.log(data);
/*
			var htmlTable = $("<table class=\"table table-striped\">");
			var htmlHead = $("<thead>");
			htmlHead.appendTo(htmlTable);
			var htmlHeaderRow = $("<tr><th scope=\"col\">Rank</th><th scope=\"col\">Solution</th><th scope=\"col\">Description</th></tr>");
			htmlHeaderRow.appendTo(htmlHead);
			var htmlBody = $("<tbody>");
			htmlBody.appendTo(htmlTable);
			$.each( data, function( i, item ) {
				var htmlRow = $("<tr><td scope=\"row\">" + (item.rank+1) + "</td><td>" + item.solution.name + "</td><td>" + item.solution.description + "</td></tr>");
				htmlRow.appendTo(htmlBody);
			});
			htmlTable.appendTo("#foundSolutions");
*/
			$.each( data, function( i, item ) {
				var htmlSolnListEntry = $("<div class=\"panel panel-default solution-list-entry\" style=\"width:95%;\">");
				var htmlDivCheck = $("<div>");
				htmlDivCheck.appendTo(htmlSolnListEntry);
				var htmlCheck = $("<input type=\"checkbox\" name=\"selectedSolution\" value=\"" + item.solution.id + "\" >");
				htmlCheck.appendTo(htmlDivCheck);
				
				var htmlDivSoln = $("<div class=\"solution-content\">");
				htmlDivSoln.appendTo(htmlSolnListEntry);
				var htmlSolnName = $("<h3>" + item.solution.name + "</h3>");
				htmlSolnName.appendTo(htmlDivSoln);
				var htmlSolnPrice = $("<div class=\"price\">Rank: " + (item.rank+1) + "&nbsp;&nbsp;&nbsp;&nbsp;" + "£/patient</div>");
				htmlSolnPrice.appendTo(htmlDivSoln);
				var htmlSolnDesc = $("<h4>" + item.solution.description + "</h4>");
				htmlSolnDesc.appendTo(htmlDivSoln);
				var htmlSolnCapabilitiesArticle = $("<article>");
				htmlSolnCapabilitiesArticle.appendTo(htmlDivSoln);
				var htmlSolnCapabilitiesTitle = $("<h5>Capabilities:</h5>");
				htmlSolnCapabilitiesTitle.appendTo(htmlSolnCapabilitiesArticle);
				
				$.each( item.capabilities, function( i2, capability ) {
					var htmlSolnCapabilitiesItem = $("<h5>" + capability.name + "</h5>");
					htmlSolnCapabilitiesItem.appendTo(htmlSolnCapabilitiesArticle);					
				});
				
				htmlSolnListEntry.appendTo("#foundSolutions");
			});
		});
   	}
    
    function getPracticesForCCG(ccgId) {
		//console.log(csvCapabilities);
		$("#practices-" + ccgId).empty();
		var url = "/organisationCoreSystemData/" + ccgId + "/" + [[${T(uk.nhs.gpitf.purchasing.entities.OrgType).PRESCRIBING_PRACTICE}]];
		$.getJSON( url)
		.done(function( data ) {
			//console.log(data);

			var htmlTable = $("<table class=\"table table-striped\">");
			var htmlHead = $("<thead>");
			htmlHead.appendTo(htmlTable);
			var htmlHeaderRow = $("<tr><th scope=\"col\">Sel</th><th scope=\"col\">Site</th><th scope=\"col\">ODS</th><th scope=\"col\">Patients</th><th scope=\"col\">Foundation System</th></tr>");
			htmlHeaderRow.appendTo(htmlHead);
			var htmlBody = $("<tbody>");
			htmlBody.appendTo(htmlTable);
			$.each( data, function( i, item ) {
				var checked = "";
				if (arrSelectedCCGPracticeIds[""+ccgId].includes("," + item.organisationId + ",")) {
					checked = "checked";
				}
				var htmlRow = $("<tr><td scope=\"row\"><input type=\"checkbox\" name=\"selOrg\" value=\"" + item.organisationId + "\" onclick=\"addRemovePractice(this, '" + ccgId + "', " + item.patientCount + ")\" " + checked + "/></td><td>" + item.organisationNameProperCase + "</td><td>" + item.organisationCode + "</td><td>" + (item.patientCount==null?"":item.patientCount) + "</td><td>" + item.formattedSolution + "</td></tr>");
				htmlRow.appendTo(htmlBody);
			});
			htmlTable.appendTo("#practices-" + ccgId);
		});
   	}
    
    function addRemovePractice(element, ccgId, patientCount) {
    	selectedPractices += element.checked?1:-1;
       	selectedPracticePatients += (element.checked?1:-1) * patientCount;
    	if (element.checked) {
           	selectedPracticeIds += element.value + ",";
           	arrSelectedCCGPracticeIds[""+ccgId] += element.value + ",";
    	} else {
    		selectedPracticeIds = selectedPracticeIds.replace("," + element.value + ",", ",");
    		arrSelectedCCGPracticeIds[""+ccgId] = arrSelectedCCGPracticeIds[""+ccgId].replace("," + element.value + ",", ",");
    	}
    	refreshSelectedPractices();
    	refreshSelectedCCGPractices(ccgId);
    	updateProcurementWithPracticesPOST([[${myModel.procurementId}]]);
    }
    
    function refreshSelectedPractices() {
		if ($("#selectedPractices") != null) {
			//$("#selectedPractices").text("Selected practices: " + selectedPractices + ", patients: " + selectedPracticePatients + ", practice Ids: " + selectedPracticeIds.substring(1, Math.max(selectedPracticeIds.length-2, 1)));
			$("#selectedPractices").text("Selected practices: " + selectedPractices + ", patients: " + selectedPracticePatients);
		}
    	
    }
    
    function refreshSelectedCCGPractices(ccgId) {
		if ($("#selectedCCGPractices-" + ccgId) != null) {
			var thisCCGPracticesSelected = arrSelectedCCGPracticeIds[""+ccgId].split(",").length-2;
			if (thisCCGPracticesSelected != 0) {
				$("#selectedCCGPractices-" + ccgId).text("Selected practices: " + thisCCGPracticesSelected);
			} else {
				$("#selectedCCGPractices-" + ccgId).text("");
			}
		}
    	
    }
    
    // On document ready, setup "selected practices" variables and perform a capability search
   	var selectedPracticeIds = [[${myModel.csvPractices}]];
   	var selectedPractices = selectedPracticeIds.split(",").length-2;
   	var arrSelectedCCGPracticeIds = [];
  	
   	
   	var selectedPracticePatients = [[${myModel.patientCount}]];
    $( document ).ready(function() {
       	var csvCapabilities = [[${myModel.csvCapabilities}]];
       	var arrMyCsvCCGIDs = [[${myModel.myCsvCCGIDs}]].split(",");
       	for (var idx=0; idx<arrMyCsvCCGIDs.length; idx++) {
			$('#ccg-' + arrMyCsvCCGIDs[idx]).on('hidden.bs.collapse', function () {
				$("#practices-" + this.id.split("-")[1]).empty();
			});    	   
			$('#ccg-' + arrMyCsvCCGIDs[idx]).on('show.bs.collapse', function () {
				getPracticesForCCG(this.id.split("-")[1]);
			});  
			arrSelectedCCGPracticeIds[""+arrMyCsvCCGIDs[idx]] = ",";
		}
       	getPracticesForCCG(arrMyCsvCCGIDs[0]);       

       	showCapabilityPanel(true);
       	refreshCapabilityNames();
       	searchCapabilitiesForSolutions(csvCapabilities);
       	refreshSelectedPractices();
       	
       	/*[# th:each="ccg : ${myModel.myCCGs}"]*/
        arrSelectedCCGPracticeIds['[[${ccg.id}]]'] = [[${myModel.getSelectedCCGPracticeIds(ccg.id)}]];
        refreshSelectedCCGPractices([[${ccg.id}]]);
    	/*[/]*/
            	
    });
    
    
    
</script>
</body>
</html>