<!DOCTYPE html>
<html th:replace="~{fragments/defaultLayout :: layout(~{::title}, ~{::section}, ~{::script})}">
<head>
    <meta charset="UTF-8" />
    <title>Buying Shortlist</title>
</head>
<body>
<section>
    <div class="container">
		<h3>Buying Shortlist</h3>	

		
        <form class="form-horizontal" th:object="${shortlistModel}" th:action="@{/buyingprocess/shortlist}" method="post">
            <input type="hidden" th:field="*{procurementId}" />
            <input type="hidden" th:field="*{numberOfPractices}" />
            <input type="hidden" th:field="*{directAwardSolutionId}" />

			<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
			    <p th:each="err : ${#fields.detailedErrors()}" th:text="${err.global}? ${err.message} : ${err.fieldName + ': ' + err.message}"></p>    
			</div>
	
			<div class="panel panel-default">
				<div class="panel-heading">Shortlisted Solutions</div>
				
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr style="font-weight: 600;">
								<td>Solution</td>
								<td>Foundation</td>
								<td style="text-align: right; padding-right: 20px;">Price</td>
								<td>Action</td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="solution : ${shortlistModel.solutions}">
								<td th:text="${solution.getName()}"></td>
								<td th:text="${solution.foundation?'Yes':''}"></td>
								<td th:text="${'£ ' + shortlistModel.getPrice(solution.id)}" style="text-align: right; padding-right: 20px;"></td>
								<td><button th:if="${shortlistModel.canDirectAward(solution.id)}" th:id="${'btnDirectAward-'+solution.getId()}" id="btnDirectAward-" class="btn btn-default" style="display:noneX;" type="button" th:data1="${solution.getId()}" onclick="directAward(this.getAttribute('data1'));">Direct award</button>
								<td><button th:id="${'btnRemove-'+solution.getId()}" id="btnRemove-" class="btn shortlist-remove" type="button" data-toggle="modal" 
									data-target="#removeSolutionPanel" th:data-solution-name="${solution.getName()}" th:data-solution-id="${solution.getId()}" >Remove</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
        
			<div class="panel panel-default">
				<div class="panel-heading">Additional Configuration</div>
				<div class="panel-body">
					<div class="row">
		                <div class="col-md-3" style="text-align: right;">Number of practices:</div>
						<div class="col-md-3" th:text="${shortlistModel.numberOfPractices}"></div>
						
		                <label class="col-md-3 control-label">Number of patients:</label>
						<div th:class="${#fields.hasErrors('numberOfPatients')}? 'col-md-3 has-error' : 'col-md-3'">
			            	<input type="text" th:field="*{numberOfPatients}" class="form-control" placeholder="number of patients" autocomplete="off" />
			                <span th:if="${#fields.hasErrors('numberOfPatients')}" class="help-block">[[${#fields.errors('numberOfPatients')[0]}]]</span>
			            </div>
					</div>
					<div class="row">
		                <label class="col-md-3 control-label">Planned Contract Start:</label>
						<div th:class="${#fields.hasErrors('plannedContractStart')}? 'col-md-3 has-error' : 'col-md-3'">
							<div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
				            	<input type="text" th:field="*{plannedContractStart}" class="form-control" placeholder="contract start date" autocomplete="off" />
				            	<div class="input-group-addon">
	        						<span class="glyphicon glyphicon-th"></span>
	    						</div>
				                <span th:if="${#fields.hasErrors('plannedContractStart')}" class="help-block">[[${#fields.errors('plannedContractStart')[0]}]]</span>
				            </div>
			            </div>
		                <label class="col-md-3 control-label">Contract length</label>
						<div th:class="${#fields.hasErrors('contractMonthsYears')}? 'col-md-1 has-error' : 'col-md-1'">
							<div class="input-group">
							    <select class="form-control" th:field="*{contractMonthsYears}" id="ddlContractMonthsYears" style="width: 80px;">
							    <option value="">Years</option>
							    <option th:each="year : ${shortlistModel.possibleContractMonthsYears}" th:value="${year}" th:text="${year + ' year' + (year==1?'':'s')}"></option>
							    </select>
				                <span th:if="${#fields.hasErrors('contractMonthsYears')}" class="help-block">[[${#fields.errors('contractMonthsYears')[0]}]]</span>
				            </div>
			            </div>
						<div th:class="${#fields.hasErrors('contractMonthsYears')}? 'col-md-2 has-error' : 'col-md-2'">
							<div class="input-group">
							    <select class="form-control" th:field="*{contractMonthsMonths}" id="ddlContractMonthsMonths" style="width: 90px;">
							    <option value="">Months</option>
							    <option th:each="month : ${shortlistModel.possibleContractMonthsMonths}" th:value="${month}" th:text="${month + ' month' + (month==1?'':'s')}"></option>
							    </select>
				                <span th:if="${#fields.hasErrors('contractMonthsYears')}" class="help-block">[[${#fields.errors('contractMonthsYears')[0]}]]</span>
				            </div>
			            </div>
					</div>
				</div>
				<div class="panel-footer">
					<button id="btnRecalculate" class="btn btn-default" style="display:noneX;" type="button" onclick="forms[0].submit();">Recalculate Prices</button>
				</div>
				
				<!-- Solution Removal Reason selection -->
				<div class="modal fade" id="removeSolutionPanel" tabindex="-1" role="dialog" aria-labelledby="removeSolutionLabel" aria-hidden="true">
				  <input type="hidden" th:field="*{removeSolutionId}" />
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Remove Solution from Shortlist</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body" style="padding: 2rem;">
				        <!-- <form> -->
				          <div class="form-group">
				            <label for="removalReasonId" class="col-form-label">Reason for removal:</label>
						    <select class="form-control" th:field="*{removalReasonId}" id="ddlRemovalReasonId" onchange="removalReasonTextDisplay();">
						    <option value="0">Removal Reason</option>
						    <option th:each="reason : ${shortlistModel.removalReasons}" th:value="${reason.id}" th:text="${reason.name}"></option>
						    </select>
						    
						    <div id="divAdditionalReasonText" style="display: none;">
					            <label for="removalReasonText" class="col-form-label">Additional Text:</label>
							    <input type="text" class="form-control" th:field="*{removalReasonText}" id="removalReasonText" autocomplete="off" />
						    </div>
				          </div>
				        <!-- </form> -->
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary shortlist-remove">Remove Solution</button>
				      </div>
				    </div>
				  </div>
				</div>	
			
			</div>
		</form>
	</div>
</section>

<script th:inline="javascript">

function removalReasonTextDisplay() {
	if ($('#ddlRemovalReasonId').val() == '[[${T(uk.nhs.gpitf.purchasing.entities.ProcShortlistRemovalReason).OTHER}]]') {
		$('#divAdditionalReasonText').show();
	} else {
		$('#divAdditionalReasonText').hide();
	}
}

function directAward(solutionId) {
	$("#directAwardSolutionId").val(solutionId);
	document.forms[0].submit();
}

$('#removeSolutionPanel').on('show.bs.modal', function (event) {
	var button = $(event.relatedTarget) // Button that triggered the modal
	var solutionName = button.data('solution-name') // Extract info from data-* attributes
	var solutionId = button.data('solution-id') // Extract info from data-* attributes
	var modal = $(this)
	modal.find('.modal-title').text('Remove solution "' + solutionName + '"');
	modal.find('#removeSolutionId').val(solutionId);
});

$('#removeSolutionPanel').on('hide.bs.modal', function (event) {
	var modal = $(this)
	modal.find('#removeSolutionId').val("");
});

$("#removeSolutionPanel").on("click", ".btn-primary", function() {
    //alert('remove solution ' + $("#removeSolutionId").val());
    document.forms[0].submit();
});

$( document ).ready(function() {
	removalReasonTextDisplay();
});

</script>
</body>
</html>