<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/defaultLayout :: layout(~{::title}, ~{::main}, ~{::script}, ~{::link})}">
<head>
<meta charset="UTF-8">
<title>Solutions Comparison</title>
</head>
<body>
	<main id="content">
		<h1>Solutions Comparison</h1>
		<form >

			<p>Placeholder for comparing the solutions</p>

			<p>Informs scoring.</p>

			<p>Expected to display each solution in parallel columns, each capability in a matrix, so that comparison is facilitated.</p>

			<p>Also available should be Epics with status and Standards with status.</p>

		</form>
	</main>
</body>
</html>