<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Admin Menu</title>
</head>
<body>
 	<div th:replace="fragments/header :: header">...</div>
    <div class="container">
<!--     
        <ol class="breadcrumb">
            <li><a href="#" th:href="${'/widgets'}">Home</a></li>
        </ol>
-->        
        <div class="row"><h2>Admin Menu</h2></div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-6 control-label">Load CCGs from ODS webservice</label>
                <div class="col-sm-6" style="margin-top:6px;">
                    <a href="/dataload/CCGs" th:href="@{'/dataload/CCGs'}">Load CCGs</a>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-6 control-label">Load GPs from ODS webservice and their relationships to CCGs (10mins +)</label>
                <div class="col-sm-6" style="margin-top:6px;">
                    <a href="/dataload/GPs" th:href="@{'/dataload/GPs'}">Load GPs</a>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-6 control-label">Load CSUs from ODS webservice</label>
                <div class="col-sm-6" style="margin-top:6px;">
                    <a href="/dataload/CSUs" th:href="@{'/dataload/CSUs'}">Load CSUs</a>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-6 control-label">Load Shared Services from ODS webservice</label>
                <div class="col-sm-6" style="margin-top:6px;">
                    <a href="/dataload/SSs" th:href="@{'/dataload/SSs'}">Load Shared Services</a>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-6 control-label">Load Day Zero CSU to CCG relationships from Tracking Database output csv file</label>
                <div class="col-sm-6" style="margin-top:6px;">
                    <a href="/dataload/Day0CSUs" th:href="@{'/dataload/Day0CSUs'}">Load Day Zero CSU to CCG relationships</a>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-6 control-label">GP Practice Patient numbers from GP Payments output csv file</label>
                <div class="col-sm-6" style="margin-top:6px;">
                    <a href="/dataload/PatientNumbers" th:href="@{'/dataload/PatientNumbers'}">Load Day Zero CSU to CCG relationships</a>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-6 control-label">Organisation Search and Maintenance</label>
                <div class="col-sm-6" style="margin-top:6px;">
                    <a href="/organisationSearch" th:href="@{'/organisationSearch'}">Organisation Search</a>
                </div>
            </div>
            
        </form>
    </div>
    <div th:replace="fragments/footer :: footer">...</div>
</body>
</html>