<!DOCTYPE html>
<html th:replace="~{fragments/defaultLayout :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8" />
    <title>Admin Menu</title>
</head>
<body>
<section>
    <div class="container">
<!--     
        <ol class="breadcrumb">
            <li><a href="#" th:href="${'/widgets'}">Home</a></li>
        </ol>
-->        
        <div class="row"><h2>Main Menu</h2></div>
        <form class="form-horizontal">
          	<div th:if="${session.SecurityInfo != null && session.SecurityInfo.isLocalAdminOrAdmin()}" class="form-group">
                <label class="col-sm-6 control-label">Organisation Admin Tasks</label>
                <div class="col-sm-6" style="margin-top:6px;">
                    <a href="/adminMenu" th:href="${'/admin'}">Admin Menu</a>
                </div>
            </div>
            
        </form>
    </div>
</section>
</body>
</html>