<!DOCTYPE html>
<html th:replace="~{fragments/defaultLayout :: layout(~{::title}, ~{::section}, ~{::script})}">
<head>
    <meta charset="UTF-8" />
    <title>Admin Menu</title>
</head>
<body>
<section>
    <div class="container">

        <div class="row"><h2>Main Menu</h2></div>
        
		<div th:if="${security_message} != null"class="alert alert-danger fade in">
		    <a href="#" class="close" data-dismiss="alert">&times;</a>
		    <strong>Security Error: [[${security_message}]]</strong>
		</div>        
        
        <form class="form-horizontal">
          	<div th:if="${session.SecurityInfo != null && session.SecurityInfo.isLocalAdminOrAdmin()}" class="form-group">
                <label class="col-sm-6 control-label">Organisation Admin Tasks</label>
                <div class="col-sm-6" style="margin-top:6px;">
                    <a href="/adminMenu" th:href="@{'/admin'}">Admin Menu</a>
                </div>
            </div>
            
            <div th:if="${session.SecurityInfo != null && session.SecurityInfo.isPurchaser()}" class="form-group">
                <label class="col-sm-6 control-label">Buying Process</label>
                <div class="col-sm-6" style="margin-top:6px;">
                    <a href="/buyingprocess/listProcurements" th:href="@{'/buyingprocess/listProcurements'}">Buying Process</a>
                </div>
            </div>
            
        </form>
    </div>
</section>
</body>
</html>