html {
	font-size: 16px !important;
}

body {
	font-family: "Frutiger W01", Arial !important;
	font-size: 16px;
	line-height: 1.15 !important;
	
    opacity:0.0;
    filter:alpha(opacity=0);
    max-width: 1300px
}

body > header {
	max-width:100%; !important;
}

/* To stop breadcrumb from being right-justified from styles.css scss */
body > header .bottom nav {
	justify-content: flex-start;
}

h1 {
	font-weight: bold; font-size: 2em; color: #425563;
}

h2 {
	font-weight: bold; font-size: 1.5em; color: #425563;
}

h3 {
	font-weight: bold; font-size: 1.17em; color: #425563;
}

h4 {
	font-weight: bold; font-size: 1.00em; color: #425563;
}

h5 {
	font-weight: bold; font-size: 0.85em; color: #425563;
}

.row {
	margin-left: 0px; margin-right: 0px;
}

#content {
    padding-top: 0rem; !important;
}

a.button:link, a.button:hover, a.button:visited, .btn:focus {
	color: #fff;
}

#onboarding.dashboard.page .onboarding-stages li::before {
	top: -0.1em; !important;
}

#onboarding.dashboard.page .onboarding-stages li:last-child::after {
	top: 1.8em;
}

input[type='text'], input[type='email'], input[type='tel'], textarea {
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    display: block !important;
    padding: 6px 12px !important;
    width: 100% !important;
}

div.col {
    width: 20% !important;
}

.breadcrumb {
	background-color:transparent; !important;
}

.breadcrumb>.active {
    color: #BBB;
}

.bottom {
	height: 56px; min-height: 56px; max-height: 56px; !important;
}

.breadcrumb > li + li:before {  /* remove this to revert back to slash */
    content: "> ";
}

/**
/* Other Styles
*/

a.minor-link, a.minor-link:link, a.minor-link:hover, a.minor-link:visited {
	font-size: 0.8em;
}
a.minor-link::before {
	color: #425563;
	content: "["
}
a.minor-link::after {
	color: #425563;
	content: "]"
}
