.Right-Arrow-White-On-Green {
  width: 25px;
  height: 25px;
  border-radius: 12px;
  background-color: #007f3b;
  color: white;
  font-size: 1.3em;
  font-weight: 500;
  display:inline-block;
}

.glyphicon.text-muted { 
	opacity: 0.25; 
}

.sub-text {
	color: rgb(66, 85, 99);
}

.solution-list-entry {
	display: inline-flex;	
	width: 50%;
	min-width: 320px;
	margin-left: 1em;
}

.solution-list-entry .solution-content {
	width: 100%;
}

.solution-list-entry .price {
	float: right;
	color: #005eb8;
	margin: 1rem;
}

.solution-list-entry  input[type=radio] {
	margin-top:1.4em;
	margin-left:1.0em;
	margin-right:1.0em;
	colour: blue;
}

.solution-list-entry  input[type=checkbox] {
	margin-top:1.4em;
	margin-left:1.0em;
	margin-right:1.0em;
	colour: blue;
}

.solution-list-entry  h3 {
	color:black;
	display: inline-block;
}

.solution-list-entry  h4 {
	font-size: 0.95em;
	line-height: 1.20em;
	font-weight: 500;
}

.solution-list-entry  article {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  padding: 0.25rem;
  width: 100%;
}

.solution-list-entry  h5 {
	font-size: 0.80em;
	font-weight: 500;	
	margin: 0.1rem;
}

.solution-list-entry  h5:first-of-type {
	color: #005eb8;
}

.capability-section-header-sub-text {
	font-size: 0.90rem;
	font-weight: 500;
	color: #768692;
}

.table thead th { 
  background-color: #005ab8;
  color: white;
  font-weight: 300;
}

.capabilitysearch-capability-panel {
	background-color: #f0f4f5;
}

.capabilitysearch-capability-foundation {
	background-color: #CDDFF0;
	overflow: auto;
}

.shortlist-remove {
	background-color: #DA291C;
}

.shortlist-remove:hover {
	background-color: #DA291C !important;
	filter: brightness(80%);
}

/* Tab Navigation */
.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;    
}
.nav-tabs > li > a {
    background: #DADADA;
    border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

/* Tab Content */
.tab-pane {
    background: #F5F5F5;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    text-align: center;
    padding: 5px;
}
