.Right-Arrow-White-On-Green {
  width: 25px;
  height: 25px;
  border-radius: 12px;
  background-color: #007f3b;
  color: white;
  font-size: 1.3em;
  font-weight: 500;
  display:inline-block;
}

.glyphicon.text-muted { 
	opacity: 0.25; 
}

.sub-text {
	color: rgb(66, 85, 99);
}

.solution-list-entry {
	display: inline-flex;	
	width: 50%;
	min-width: 320px;
	margin-left: 1em;
}

.solution-list-entry .solution-content {
	width: 100%;
}

.solution-list-entry .price {
	float: right;
	color: #005eb8;
	margin: 1rem;
}

.solution-list-entry  input[type=radio] {
	margin-top:1.4em;
	margin-left:1.0em;
	margin-right:1.0em;
	colour: blue;
}

.solution-list-entry  input[type=checkbox] {
	margin-top:1.4em;
	margin-left:1.0em;
	margin-right:1.0em;
	colour: blue;
}

.solution-list-entry  h3 {
	color:black;
	display: inline-block;
}

.solution-list-entry  h4 {
	font-size: 0.95em;
	line-height: 1.20em;
	font-weight: 500;
}

.solution-list-entry  article {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  padding: 0.25rem;
  width: 100%;
}

.solution-list-entry  h5 {
	font-size: 0.80em;
	font-weight: 500;	
	margin: 0.1rem;
}

.solution-list-entry  h5:first-of-type {
	color: #005eb8;
}

.capability-section-header-sub-text {
	font-size: 0.90rem;
	font-weight: 500;
	color: #768692;
}

.table thead th { 
  background-color: #005EB8;
  color: white;
  font-weight: 300;
}

.capabilitysearch-capability-panel {
	background-color: #f0f4f5;
}

.capabilitysearch-capability-foundation {
	background-color: #CDDFF0;
	overflow: auto;
}

a.minor-link:link, a.minor-link:visited, a.minor-link:hover, a.minor-link:active {
	font-size: 0.8rem;
	color: #005EB8;
}
a.minor-link::before {
	color: #425563;
	content: "["
}
a.minor-link::after {
	color: #425563;
	content: "]"
}

#content a.back-link:link, #content a.back-link:visited,
#content a.back-link:hover, #content a.back-link:active {
	font-size: 1.0rem;
	color: #000;
}

ul.flex-option-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	list-style-type: none;
}

ul.flex-option-container li {
	position: relative;
	width: 40%;
	border: 1px solid #005EB8;
	background: white;
	padding-bottom: 3rem;
}

ul.flex-option-container .title {
	text-align: center;
	padding: 20px 10px;
	font-style: bold;
	color: white;
	background: #005EB8;
}

ul.flex-option-container .body {
	padding: 20px 10px;
}

ul.flex-option-container .select {
	position: absolute;
	bottom: 0px;
	height: 3rem;
	text-align: center;
	width: 100%;
}

ul.flex-option-container .select span.glyphicon-ok {
	padding-right: 1rem;
}

@media only screen and (max-width: 768px) {
	
	ul.flex-option-container {
		flex-direction: column;;
	}
	
	ul.flex-option-container li {
	 	width: 100%;
	 	margin: 10px 0px;
	}
}

