.Right-Arrow-White-On-Green {
  width: 25px;
  height: 25px;
  border-radius: 12px;
  background-color: #007f3b;
  color: white;
  font-size: 1.3em;
  font-weight: 500;
  display:inline-block;
}

.glyphicon.text-muted { 
	opacity: 0.25; 
}

.sub-text {
	color: rgb(66, 85, 99);
}

.solution-list-entry {
	display: inline-flex;	
	width: 50%;
	min-width: 320px;
	margin-left: 1em;
}

.solution-list-entry > div {
	borderXX: 1px black solid;
}

.solution-list-entry  input[type=radio] {
	margin-top:1.4em;
	margin-left:1.0em;
	margin-right:1.0em;
	colour: blue;
}

.solution-list-entry  h3 {
	color:black;
}

.solution-list-entry  h4 {
	font-size: 0.95em;
	line-height: 1.20em;
	font-weight: 500;
}

.solution-list-entry  h5 {
	font-size: 0.80em;
	font-weight: 500;	
	line-height: 0.6em;
}

.solution-list-entry  h5:first-of-type {
	color: #005eb8;
}

.capability-section-header-sub-text {
	font-size: 0.90rem;
	font-weight: 500;
	color: #768692;
}

.table thead th { 
  background-color: #005ab8;
  color: white;
  font-weight: 300;
}